!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title<= content_for?(:title) ? "#{yield(:title).chop} - Arystokracja IT" : "Arystokracja IT - Śmietanka ofert pracy branży IT"
    %meta{name: "description", content: content_for?(:description) ? "#{yield(:description)}" : "Wybrane cytaty z ofert pracy branży IT! Mamy najlepsze oferty, benefity, płace, wszystko!" }

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    - if content_for(:og)
      = yield :og
    - else
      %meta{property: "og:title", content: "Arystokracja IT - Śmietanka ofert pracy branży IT"}
      %meta{property: "og:description", content: "Arystokracja IT to Wybrane cytaty z ofert pracy branży IT! Mamy najlepsze oferty, benefity, płace, wszystko!"}
      %meta{property: "og:url", content: root_url}
      %meta{property: "og:site_name", content: "ArystokracjaIT.pl"}
      %meta{property: "og:image", content: asset_url('og.png')}
    %meta{property: "og:image", content: asset_url('og.png')}
    %meta{property: "fb:app_id", content: "727774573991183"}

    = csrf_meta_tags

    %link{rel: 'shortcut icon', href: 'favicon.png'}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

  %body
    = render partial: 'layouts/shared/header'
    = render partial: 'layouts/shared/flash'

    %div.ait-wrapper
      = yield
    - if Rails.env == "production"
      = render partial: 'layouts/shared/gat'
