!!!
%html
  %head
    %title Arystokracja IT
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.ait-header
      %h1.ait-header__logo
        = link_to "Arystokracja IT", root_path, class: 'ait-header__logo-link'
      = link_to "Dodaj propozycję", new_quote_path, class: 'ait-header__link'

    %div.ait-wrapper
      = yield
